.vagrant/*
*.Rhistory
*.RData
*.pyc
*~
*.swp
*.DS_Store
working
working/*
tools/tool_scripts/R_testHarness/testResult.html
static/ei.tar.bz2
tmp/*
tmp
Vagrantfile.*
settings.py
static_production
vagrant
__pycache__
*.bak
