amqp==5.0.6
beautifulsoup4==4.9.3
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
certifi==2021.5.30
charset-normalizer==2.0.2
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
Django==2.2.24
django-bootstrap-toolkit==2.15.0
django-bootstrap4==3.0.1
django-classy-tags==2.0.0
django-cms==3.9.0
django-common-helpers==0.9.2
django-cron==0.5.1
django-filer==2.0.2
django-formtools==2.3
django-guardian==2.4.0
django-js-asset==1.2.2
django-lockdown==4.0.0
django-mptt==0.12.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-treebeard==4.5.1
django-userena-ce==6.0.1
djangocms-admin-style==2.0.2
djangocms-attributes-field==2.0.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-text-ckeditor==4.0.0
easy-thumbnails==2.7.1
future==0.18.2
html2text==2020.1.16
html5lib==1.1
idna==3.2
importlib-metadata==2.1.1
kombu==5.1.0
openbabel==2.4.1
Pillow==8.3.1
pkg-resources==0.0.0
prompt-toolkit==3.0.19
psycopg2==2.9.1
python-memcached==1.59
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
simplejson==3.17.3
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
Unidecode==1.1.2
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.5.0
