{% extends "base.html" %}
{% load cms_tags %}



{% block base_content %}
	<div class="row-fluid">
	<div class="span12">
	{% if message %}
	<span style="color: red">{{message}}</span>
	{% endif %}

	<ul class="nav nav-tabs">
	  <li class=" nav-item ">
		  <a class="nav-link  {% if search_type == "compound" %} active {% endif %}" href="#compound_search" data-toggle="tab">Search By Compound</a>
	  </li>
	  <li class=" nav-item  ">
		  <a class="nav-link {% if search_type == "target" %} active {% endif %}" href="#target_search" data-toggle="tab">Search By Target</a>
	  </li>
	</ul>

	<div class="tab-content" style="overflow:visible">
		<div class="tab-pane{% if search_type == "compound" %} active{% endif %}" id="compound_search">
			<div class="row-fluid">
				<div class="span12">
					<form method="GET">
						<div class="form-group mt-3">
							<label for="source_id">Database:</label>
							<select id="source_id" name="source_id">
								{% for id,name in sources.items %}
									<option value="{{id}}">{{name}}</option>
								{% endfor %}
							</select>
							<br>

							Import compound IDs from workbench: 

							<div style="margin-top:10px"></div>

							<span id="compound_count">0</span> compounds selected.
							<select id="tags" name="tags" multiple placeholder="Compound Tags">
								<option value="all">All</option>
								{% for tag in tags %}
									<option value="{{tag}}">{{tag}}</option>
								{% endfor %}
							</select>



							<label for="chembl_id">Or enter compound IDs:</label>
							<textarea  name="id" class="form-control" rows="10" placeholder="Enter space separated ID(s)"></textarea>
							<br>
							<button type="submit" class="btn btn-primary">Search</button>
							<input type="hidden" id="search_type" name="search_type" value="compound"></input>
						</div>
					</form>

				</div>
			</div>
		</div> <!-- ent tab-pane -->
			<div class="tab-pane{% if search_type == "target" %} active{% endif %}" id="target_search">
			<div class="row-fluid">
				<div class="span12">
					<form method="GET">
						<div class="form-group mt-3">
							<input type="checkbox" name="include_activity"> &nbsp;Include Activity Results (slow)</input>
							<p class="mt-3"></p>
							<label for="chembl_id">Target Protein IDs:</label>
							<textarea  name="id" class="form-control" rows="10" placeholder="Enter space separated ID(s)"></textarea>
							<br>
							<button type="submit" class="btn btn-primary">Search</button>
							<input type="hidden" id="search_type" name="search_type" value="target"></input>
						</div>
					</form>
				</div>
			</div>
		</div> <!-- ent tab-pane -->
	</div> <!-- end tab-content -->




	</form>
	</div>
	</div>
	{% if query_submit %}
	<div class="row-fluid">
	<div class="span12" >
	<!--<h3>Matching Target Accession IDs ({{ chembl_id }}):</h3>-->
	<h4>By Annotation</h4>
	<table class="table table-striped result-table" style="display:none">
	<thead>
		<tr>
			{% if search_type == 'compound' %}
				<th>ChEMBL ID</th>
				<th>Accession ID</th>
			{% endif %}
			{% if search_type == 'target' %}
				<th>Accession ID</th>
				<th>ChEMBL ID</th>
			{% endif %}
			<th>Mechanism of Action</th>
			<th>Target ID</th>
			<th>Component ID</th>
			<th>Description</th>
			<th>Organism</th>
			<th>Mesh Indication</th>
		</tr>
	</thead>
	<tbody>
	{% for id in ids%}
		{% for match in annotationMatches|dict_lookup:id %}
			<tr>
				{% if search_type == 'compound' %}
					<td><a target="_blank" href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ match.chembl_id }}/">{{ match.chembl_id }}</a></td>
					<td><a target="_blank" href="https://www.uniprot.org/uniprot/{{match.accession}}">{{ match.accession}}</a></td>
				{% endif %}
				{% if search_type == 'target' %}
					<td><a target="_blank" href="https://www.uniprot.org/uniprot/{{match.accession}}">{{ match.accession}}</a></td>
					<td><a target="_blank" href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ match.chembl_id }}/">{{ match.chembl_id }}</a></td>
				{% endif %}
				<td>{{ match.mechanism_of_action}}</td>
				<td>{{ match.tid}}</td>
				<td>{{ match.component_id}}</td>
				<td>{{ match.description}}</td>
				<td>{{ match.organism}}</td>
				<td>{{ match.mesh_indication}}</td>
			</tr>
		{% empty %}
			<tr>
				<td>No matches for query {{id}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{% endfor %}
	{% endfor %}
	</tbody>
	</table>

	{% if activityMatches is not None %}
		<h4>By Activity</h4>
		<table class="table table-striped result-table" style="display:none">
		<thead>
			<tr>
				{% if search_type == 'compound' %}
					<th>ChEMBL ID</th>
					<th>Accession ID</th>
				{% endif %}
				{% if search_type == 'target' %}
					<th>Accession ID</th>
					<th>ChEMBL ID</th>
				{% endif %}

				<th>Name</th>
				<th>Activity ID</th>
				<th>Assay ID</th>
				<th>Description</th>
				<th>Organism</th>
				<th>Value</th>
				<th>Units</th>
				<th>Flag</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
		{% for id in ids %}
			{% for match in activityMatches|dict_lookup:id %}
				<tr>	{% if search_type == 'compound' %}
						<td><a target="_blank" href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ match.chembl_id }}/">{{ match.chembl_id }}</a></td>
						<td><a target="_blank" href="https://www.uniprot.org/uniprot/{{match.accession}}">{{ match.accession}}</a></td>
					{% endif %}
					{% if search_type == 'target' %}
						<td><a target="_blank" href="https://www.uniprot.org/uniprot/{{match.accession}}">{{ match.accession}}</a></td>
						<td><a target="_blank" href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ match.chembl_id }}/">{{ match.chembl_id }}</a></td>
					{% endif %}
					<td>{{ match.pref_name}}</td>
					<td>{{ match.activity_id}}</td>
					<td>{{ match.chembl_assay_id}}</td>
					<td>{{ match.description}}</td>
					<td>{{ match.organism}}</td>
					<td>{{ match.standard_value}}</td>
					<td>{{ match.standard_units}}</td>
					<td>{{ match.standard_flag}}</td>
					<td>{{ match.standard_type}}</td>
				</tr>
			{% empty %}
				<tr>
					<td>No matches for query {{id}}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
		{% endfor %}
		</tbody>
		</table>
	{% endif %}
	</div>
	</div>
	{% endif %}
{% endblock base_content %}

{% block js_content %}

{% include "selectize.html" %}
{% include "dataTables.html" %}
{% include "alertify.html" %}

<script type="text/javascript">
	$(document).ready(function() {
		$('.result-table').dataTable( {
			dom: 'Bfrltip',
			buttons: ['csv'],
			//columnDefs: [ //hide grouping column (chembl_id)
				//{ "visible": false, "targets": 0}
			//],
			rowGroup:{
				dataSrc: 0,
			},
			initComplete: function(){
				$('.result-table').show();
			},
		 } );
		jQuery("#tags").selectize({
			plugins: ['remove_button'],
			onChange: function(value){
				setCompoundCount(value);
			},
		});

		
	} );
	function setCompoundCount(tags){
			if(tags != null && tags.length !== 0)
				$.get("/compounds/withTags/"+tags.join(",")+"/count").
					then(function(result){
						$("#compound_count").html(result);
					}).fail(function(){
						alertify.error("failed to update compound count");
					});
			else
				$("#compound_count").html(0);
		}

</script>

{% endblock %}


