{% extends "base.html" %}
{% load cms_tags %}
{% load targetsearch_extras %}

{% block extra_styles %}
{% endblock extra_styles %}

{% block extra_headers %}
{% endblock extra_headers %}

{% block base_content %}
<div class="container-fluid">
  {% if message %}<div class="row"><span style="color: red">{{message}}</span></div>{% endif %}
  <form method="GET" autocomplete="off">
    {% if search_type == "chembl" %}
    <div class="card text-white bg-secondary my-3 p-2">
      <h6 class="card-title">Enter ChEMBL IDs</h6>
      <textarea id="ids_ta" class="form-control" name="ids" rows="10" placeholder="Enter space-separated ID(s)"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
    <button id="compound-sample-btn" class="btn btn-outline-primary" type="button" data-toggle="tooltip" data-html="true" title="<p>CHEMBL25 (Aspirin)</p><p>CHEMBL112 (Acetaminophen)</p><p>CHEMBL154 (Naproxen)</p><p>CHEMBL521 (Ibuprofen)</p><p>Note: This will replace whatever text is currently in the search box.</p>" onclick="$('#ids_ta').val('CHEMBL25 CHEMBL112 CHEMBL154 CHEMBL521');$('#compound-sample-btn').tooltip('hide')">Use Sample IDs <i class="far fa-question-circle"></i></button>
    {% elif search_type == "go" %}
    <div class="card text-white bg-secondary my-3 p-2">
      <h6 class="card-title">Enter Gene Ontology IDs</h6>
      <textarea id="ids_ta" class="form-control" name="ids" rows="10" placeholder="Enter space-separated ID(s)"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
    <button id="compound-sample-btn" class="btn btn-outline-primary" type="button" data-toggle="tooltip" data-html="true" title="<p>GO:0010951 (Negative regulation of endopeptidase activity)</p><p>Note: This will replace whatever text is currently in the search box.</p>" onclick="$('#ids_ta').val('GO:0010951');$('#compound-sample-btn').tooltip('hide')">Use Sample IDs <i class="far fa-question-circle"></i></button>
    {% endif %}
  </form>
  <div>ChEMBL database version: {{chembl_version}}</div>
</div>
{% endblock base_content %}

{% block js_content %}
<script>
$(document).ready(function () {
  $("[data-toggle=tooltip]").tooltip();
});
</script>
{% endblock js_content %}
