{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}


{% block js_content %}
<script type="text/javascript" src="/static/admin/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/admin/dt_bootstrap/dataTables.bootstrap.js"></script>
<script src="/static/admin/cidpopups.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.result-table').dataTable( {
		"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"sScrollX": "100%",
		"bScrollCollapse": true
         } );
} );
</script>

{% endblock %}



	<div class="row-fluid">
	<div class="span12">
	<form method="GET">
	<div class="form-group">
		<label for="accession_id">Accession ID:</label>
		<small class="form-text text-muted">To perform multiple searches, separate search terms with spaces.</small>
		<br>
		<textarea id="accession_id" name="accession_id" rows="10" class="form-control" placeholder="Enter accession ID(s)"></textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Search</button>
	</div>
	</form>
	</div>
	</div>
	{% if query_submit %}
	{% for accession_id in accession_id_tuple %}
		<div class="row-fluid">
		<div class="span12">
		<h3>Matching ChEMBL IDs ({{ accession_id }}):</h3>
		<h5><a target="_blank" href="{% url 'getChemblTSV' %}?accession_id={{accession_id}}">[Export to TSV text file]</a></h5>
		<table class="table table-striped result-table">
		<thead>
			<tr>
				<th>ChEMBL IDs</th>
			</tr>
		</thead>
		<tbody>
		{% for match in matches|dict_lookup:accession_id %}
			<tr>
				<td><a target="_blank" href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ match.chembl_id }}/">{{ match.chembl_id }}</a></td>
			</tr>
		{% empty %}
			<tr>
				<td>No matching ChEMBL IDs.</td>
				<td>-</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
		</div>
	{% endfor %}
	{% endif %}
{% endblock base_content %}
