{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
	<form method="GET">
		<label for="accession_id">Accession ID: </label>
		<input id="accession_id" type="text" name="accession_id">
		<input type="submit" value="Search">
	</form>
	{% if query_submit %}
	{% for accession_id in accession_id_tuple %}
		<table>
		<tr>
			<td>Matching ChEMBL IDs ({{ accession_id }}):</td>
		</tr>
		{% for chembl_id in matches|dict_lookup:accession_id %}
			<tr>
				<td><a href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ chembl_id }}/">{{ chembl_id }}</a></td>
			</tr>
		{% empty %}
			<tr><td>No matching ChEMBL IDs.</td></tr>
		{% endfor %}
		</table>
	{% endfor %}
	{% endif %}
{% endblock base_content %}
