{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
	<form method="GET">
		<label for="accession_id">Accession ID: </label>
		<input id="accession_id" type="text" name="accession_id">
		<input type="submit" value="Search">
	</form>
	{% if query_submit %}
	{% if matches %}
		<table>
		<tr>
			<td>Matching ChEMBL IDs ({{ accession_id }}):</td>
		</tr>
		{% for chembl_id in matches %}
			<tr>
				<td>{{ chembl_id }}</td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
        <p>No matching ChEMBL IDs for {{ accession_id }}.</p>
	{% endif %}
	{% endif %}
{% endblock base_content %}
