{% extends "base.html" %}
{% load cms_tags %}
{% load targetsearch_extras %}

{% block extra_styles %}
td.details-control {
	cursor: pointer;
}
.column-set {
	border: 1px solid #ccc;
	border-radius: 16px;
	padding: 0.01em 16px;
	margin: 1em;
}
{% endblock extra_styles %}

{% block base_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			{% if message %}<span style="color: red">{{message}}</span>{% endif %}
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link{% if id_type == "compound" %} active{% endif %}" href="#compound_search" data-toggle="tab">Search By Compound</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if id_type == "target" %} active{% endif %}" href="#target_search" data-toggle="tab">Search By Target</a>
				</li>
			</ul>

			<div class="tab-content" style="overflow: visible">

				<div class="tab-pane{% if id_type == "compound" %} active{% endif %}" id="compound_search">
					<div class="container-fluid">
						<div class="col-md-12">
							<form method="GET">
								<div class="form-group mt-3">
									<label for="source-id-select">Database:</label>
									<select id="source-id-select" name="source_id">
									{% for id,name in compoundDbs.items|order_by:1 %}
										<option value="{{id}}" {% if defaultCompoundDb == id %}selected {% endif %} >{{name}}</option>
									{% endfor %}
									</select>
									<p>Import compound IDs from workbench:</p>
									<span id="compound_count">0</span> compounds selected.
									<select id="tags" name="tags" multiple placeholder="Compound Tags">
										<option value="all">All</option>
										{% for tag in tags %}
											<option value="{{tag}}">{{tag}}</option>
										{% endfor %}
									</select>
									<label for="compound-ids">Or enter compound IDs:</label>
									<textarea id="compound-ids" name="ids" class="form-control" rows="10" placeholder="Enter space-separated ID(s)"></textarea>
									<br>
									<input type="hidden" name="id_type" value="compound">
									<button type="submit" class="btn btn-primary">Search</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="tab-pane{% if id_type == "target" %} active{% endif %}" id="target_search">
					<div class="container-fluid">
						<div class="col-md-12">
							<form method="GET">
								<div class="form-group mt-3">
									<input id="include-activity-chkbox" type="checkbox" name="include_activity">
									<label for="include-activity-chkbox">&nbsp;Include Activity Results (slow)</label>
									<p></p>
									<label for="source-id-select">Database:</label>
									<select id="source-id-select" name="source_id">
									{% for id,name in proteinDbs.items|order_by:1 %}
										<option value="{{id}}" {% if defaultProteinDb == id %}selected {% endif %} >{{name}}</option>
									{% endfor %}
									</select>
									<br/>

									<label for="target-ids">Target Protein IDs:</label>
									<textarea id="target-ids" name="ids" class="form-control" rows="10" placeholder="Enter space-separated ID(s)"></textarea>
									<br>
									<input type="hidden" name="id_type" value="target">
									<button type="submit" class="btn btn-primary">Search</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div><!-- end tab-content -->
		</div>
	</div><!-- end row (form tabs)-->

	{% if query_submit %}
	<div class="row">
		<div class="col-md-12">
			<h4>By Annotation</h4>
			<div class="btn-toolbar" role="toolbar" aria-label="Button toolbar for annotation table">
				<div class="btn-group mr-2" role="group">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#columnSelectModalAnnotation">Show/Hide Columns</button>
				</div>
				<div class="btn-group" id="csv-buttons-annotation" role="group"></div>
			</div>
			<table class="table table-striped" id="annotation-table">
				<thead>
					<tr>
						<th><!-- Toggle child row --></th>
						{% for col in annotation_list %}
						<th>{{col.name}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for key, rows in annotation_matches.items %}
						{% for row in rows %}
						<tr>
							<td class="details-control"><i class="fas fa-angle-right dropdown"></i></td>
							{% for col in annotation_list %}
								{% dict_lookup row col.id as cell_value %}
								{% if col.url is None %}
									<td>{{ cell_value }}</td>
								{% else %}
									<td><a target="_blank" href="{% url_format col.url cell_value %}">{{ cell_value }}</a></td>
								{% endif %}
							{% endfor %}
						</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div><!-- end row (annotation result table)-->
	{% if activity_matches is not None %}
	<div class="row">
		<div class="col-md-12">
			<h4>By Activity</h4>
			<div class="btn-toolbar" role="toolbar" aria-label="Button toolbar for activity table">
				<div class="btn-group mr-2" role="group">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#columnSelectModalActivity">Show/Hide Columns</button>
				</div>
				<div class="btn-group" id="csv-buttons-activity" role="group"></div>
			</div>
			<table class="table table-striped" id="activity-table">
				<thead>
					<tr>
						<th><!-- Toggle child row --></th>
						{% for col in activity_list %}
						<th>{{col.name}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for key, rows in activity_matches.items %}
						{% for row in rows %}
						<tr>
							<td class="details-control"><i class="fas fa-angle-right dropdown"></i></td>
							{% for col in activity_list %}
								{% dict_lookup row col.id as cell_value %}
								{% if col.url is None %}
									<td>{{ cell_value }}</td>
								{% else %}
									<td><a target="_blank" href="{% url_format col.url cell_value %}">{{ cell_value }}</a></td>
								{% endif %}
							{% endfor %}
						</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div><!-- end row (activity result table) -->
	{% endif %}
	{% endif %}
</div><!-- end container-fluid -->

<!-- Column select modal windows -->
<div class="modal fade" id="columnSelectModalAnnotation" tabindex="-1" role="dialog" aria-labelledBy="csmAnnotationTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="csmAnnotationTitle">Column Select - Annotation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-primary" id="btn-annotation-select-all">Select All</button>
				<button type="button" class="btn btn-primary" id="btn-annotation-deselect-all">Deselect All</button>
				<button type="button" class="btn btn-primary" id="btn-annotation-defaults">Restore Defaults</button>


				<fieldset>
					<div style="display: none;">
						<input type="checkbox" class="toggle-vis chkbox-annotation{% if annotation_child_rows %} chkbox-annotation-default{% endif %}" 
							name="annotation-column" id="annotation__child_row_dropdown" value="0">
					</div>
					<div class="">
					{% for col in annotation_list %}

						{% ifchanged col.table %}
							</div>
							<div class="bg-light column-set" id="column_set_{{forloop.counter}}" >
								<div>
									<h5 style="display:inline-block">{{col.table|capfirst}}</h5>
									<span  style="margin:1rem">
										Select 
										<a href="javascript:void(0)" onclick="toggleTableColumns(targetSearch.annotation_table,'column_set_{{forloop.counter}}',true)">All</a>
										<a href="javascript:void(0)" onclick="toggleTableColumns(targetSearch.annotation_table,'column_set_{{forloop.counter}}',false)">None</a>
									</span>
								</div>
					 	{% endifchanged %}



						<span style="width: 18rem; display: inline-block;">
							<input type="checkbox" class="toggle-vis chkbox-annotation{% if col.visible %} chkbox-annotation-default{% endif %}" 
								name="annotation-column" id="{{col.id}}" value="{{forloop.counter}}"/>
							<label for="{{col.id}}" data-toggle="tooltip" data-placement="top" title="[ {{col.sql}} ] {{col.desc}}">{{col.name}}
							
						</span>
					{% endfor %}
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% if activity_matches is not None %}
<div class="modal fade" id="columnSelectModalActivity" tabindex="-1" role="dialog" aria-labelledBy="csmActivityTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="csmActivityTitle">Column Select - Activity</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-primary" id="btn-activity-select-all">Select All</button>
				<button type="button" class="btn btn-primary" id="btn-activity-deselect-all">Deselect All</button>
				<button type="button" class="btn btn-primary" id="btn-activity-defaults">Restore Defaults</button>
				<fieldset>
					<div style="display: none;">
						<input type="checkbox" class="toggle-vis chkbox-activity{% if activity_child_rows %} chkbox-activity-default{% endif %}" name="activity-column" id="activity__child_row_dropdown" value="0">
					</div>
					<div class="">
					{% for col in activity_list %}

						{% ifchanged col.table %}
							</div>
							<div class="bg-light column-set" id="column_set_{{forloop.counter}}" >
								<div>
									<h5 style="display:inline-block">{{col.table|capfirst}}</h5>
									<span  style="margin:1rem">
										Select 
										<a href="javascript:void(0)" onclick="toggleTableColumns(targetSearch.activity_table,'column_set_{{forloop.counter}}',true)">All</a>
										<a href="javascript:void(0)" onclick="toggleTableColumns(targetSearch.activity_table,'column_set_{{forloop.counter}}',false)">None</a>
									</span>
								</div>
					 	{% endifchanged %}

						<span style="width: 18rem; display: inline-block;">
							<input type="checkbox" class="toggle-vis chkbox-activity{% if col.visible %} chkbox-activity-default{% endif %}" 
								name="activity-column" id="{{col.id}}" value="{{forloop.counter}}">
							<label for="{{col.id}}" data-toggle="tooltip" data-placement="top" title="[ {{col.sql}} ] {{col.desc}}">{{col.name}}</label>
						</span>
					{% endfor %}
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock base_content %}

{% block js_content %}

{% include "selectize.html" %}
{% include "dataTables.html" %}
{% include "alertify.html" %}

<script type="text/javascript">
	var targetSearch = {};// namespace for public variables

	// Shows or hides all columns for a table
	function selectAll(table_obj, chkbox_class, is_visible) {
		// Use columnExportSelector to leave the child row dropdown column alone
		table_obj.columns(
			function(index, data, node ) {
				return columnExportSelector(table_obj, 'all', index);
			}
		).visible(is_visible);
		$('.' + chkbox_class).prop('checked', is_visible);
	}
	
	function selectDefaults(table_obj, chkbox_class) {
		// Hide all columns and clear all checkboxes
		table_obj.columns().visible(false);
		$('.' + chkbox_class).prop('checked', false);
		
		// Iterate through all checkboxes. If a checkbox is classed as a "default"
		// checkbox, check it and unhide the associated column
		$('.' + chkbox_class).each(function() {
			if ( $(this).hasClass(chkbox_class + "-default") ) {
				table_obj.column( $(this).attr('value') ).visible(true);
				$(this).prop('checked', true);
			}
		});
	}
	
	function setCompoundCount(tags) {
		if(tags != null && tags.length !== 0)
			$.get("/compounds/withTags/"+tags.join(",")+"/count").
				then(function(result){
					$("#compound_count").html(result);
				}).fail(function(){
					alertify.error("failed to update compound count");
				});
		else
			$("#compound_count").html(0);
	}
	
	function childRow(table_name, row_data) {
		var inner_data = '';
		if (table_name == 'annotation_table') {
			{% for col in annotation_list %}
				{% if col.childrow %}
				inner_data += '<tr><td>{{col.name}}</td><td>'+ row_data[ {{forloop.counter}} ] +'</td></tr>';
				{% endif %}
			{% endfor %}
			if (inner_data == '') {
				inner_data = '<tr><td>No data</td></tr>';
			}
		} else if (table_name == 'activity_table') {
			{% for col in activity_list %}
				{% if col.childrow %}
				inner_data += '<tr><td>{{col.name}}</td><td>'+ row_data[ {{forloop.counter}} ] +'</td></tr>';
				{% endif %}
			{% endfor %}
			if (inner_data == '') {
				inner_data = '<tr><td>No data</td></tr>';
			}
		} else {
			console.log("childRow: Check your values. You shouldn't see this.");
			inner_data = '<tr><td>No data</td></tr>';
		}
		
		return '<table>' + inner_data + '</table>';
	}
	
	function toggleChildRow(table_name, table_obj, td_obj) {
		var tr = td_obj.closest('tr');
		var icon = td_obj.children('i.dropdown');
		var row = table_obj.row(tr);
		
		if (row.child.isShown()) {
			row.child.hide();
			tr.removeClass('shown');
			icon.removeClass('fa-angle-down');
			icon.addClass('fa-angle-right');
		} else {
			row.child( childRow(table_name, row.data()) ).show();
			tr.addClass('shown');
			icon.removeClass('fa-angle-right');
			icon.addClass('fa-angle-down');
		}
	}
	
	function columnExportSelector(table, export_type, index) {
		// In no circumstance do we export the child-row column
		if (index == 0) return false;
		
		if (export_type == "all") {
			return true;
		} else if (export_type == "visible") {
			return table.column(index).visible();
		}
		
		console.log("columnExportSelector: Check your values. You shouldn't see this.");
	}
	function toggleTableColumns(table_obj,setId, state) {
		$("#"+setId+" input").each(function(){
			table_obj.column( $(this).attr('value') ).visible(state);
			$(this).prop('checked', state);
		});
		return false;
	}
	
	$(document).ready(function() {
		jQuery("#tags").selectize({
			plugins: ['remove_button'],
			onChange: function(value){
				setCompoundCount(value);
			},
		});
		
		var annotation_table = $('#annotation-table').DataTable({
			dom: 'frltip',
			rowGroup: { dataSrc: 1, },
			columnDefs: {
				targets: 0,
				orderable: false,
			},
			buttons: [
				{
					extend: 'csv',
					filename: 'annotation-table',
					text: 'Save to CSV (All Columns)',
					exportOptions: {
						columns: function(index, data, node) {
							return columnExportSelector(annotation_table, 'all', index);
						}
					},
				},
				{
					extend: 'csv',
					filename: 'annotation-table',
					text: 'Save to CSV (Visible Columns)',
					exportOptions: {
						columns: function(index, data, node) {
							return columnExportSelector(annotation_table, 'visible', index);
						}
					},
				},
			],
		});
		
		var activity_table = $('#activity-table').DataTable({
			dom: 'frltip',
			rowGroup: { dataSrc: 1, },
			columnDefs: {
				targets: 0,
				orderable: false,
			},
			buttons: [
				{
					extend: 'csv',
					filename: 'activity-table',
					text: 'Save to CSV (All Columns)',
					exportOptions: {
						columns: function(index, data, node) {
							return columnExportSelector(activity_table, 'all', index);
						}
					},
				},
				{
					extend: 'csv',
					filename: 'activity-table',
					text: 'Save to CSV (Visible Columns)',
					exportOptions: {
						columns: function(index, data, node) {
							return columnExportSelector(activity_table, 'visible', index);
						}
					},
				},
			],
		});

		targetSearch.annotation_table = annotation_table;
		targetSearch.activity_table = activity_table;
		
		annotation_table.buttons().container().appendTo( $('#csv-buttons-annotation') );
		activity_table.buttons().container().appendTo( $('#csv-buttons-activity') );
		
		$('input.toggle-vis').on('change', function(e) {
			if ( $(this).attr('name') == 'annotation-column' ) {
				var column = annotation_table.column( $(this).attr('value') );
			} else if ( $(this).attr('name') == 'activity-column' ) {
				var column = activity_table.column( $(this).attr('value') );
			}
			column.visible( $(this).prop('checked') );
		});
		
		$('#btn-annotation-select-all').on('click', function(e) {
			selectAll(annotation_table, 'chkbox-annotation', true);
		});
		
		$('#btn-annotation-deselect-all').on('click', function(e) {
			selectAll(annotation_table, 'chkbox-annotation', false);
		});
		
		$('#btn-annotation-defaults').on('click', function(e) {
			selectDefaults(annotation_table, 'chkbox-annotation');
		});
		
		$('#btn-activity-select-all').on('click', function(e) {
			selectAll(activity_table, 'chkbox-activity', true);
		});
		
		$('#btn-activity-deselect-all').on('click', function(e) {
			selectAll(activity_table, 'chkbox-activity', false);
		});
		
		$('#btn-activity-defaults').on('click', function(e) {
			selectDefaults(activity_table, 'chkbox-activity');
		});
		
		$('#annotation-table tbody').on('click', 'td.details-control', function() {
			toggleChildRow('annotation_table', annotation_table, $(this));
		});
		
		$('#activity-table tbody').on('click', 'td.details-control', function() {
			toggleChildRow('activity_table', activity_table, $(this));
		});
		
		selectDefaults(annotation_table, 'chkbox-annotation');
		selectDefaults(activity_table, 'chkbox-activity');
	});
</script>

{% endblock js_content %}
