{% extends "base.html" %}
{% load cms_tags %}
{% load targetsearch_extras %}

{% block extra_styles %}
.column-set {
	border: 1px solid #ccc;
	border-radius: 16px;
	padding: 0.01em 16px;
	margin: 1em;
}
{% endblock extra_styles %}

{% block base_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			{% if message %}<span style="color: red">{{message}}</span>{% endif %}
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link{% if id_type == "compound" %} active{% endif %}" href="#compound_search" data-toggle="tab">Search By Compound</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if id_type == "target" %} active{% endif %}" href="#target_search" data-toggle="tab">Search By Target</a>
				</li>
			</ul>

			<div class="tab-content" style="overflow: visible">

				<div class="tab-pane{% if id_type == "compound" %} active{% endif %}" id="compound_search">
					<div class="container-fluid">
						<div class="col-md-12">
							<form method="GET">
								<div class="form-group mt-3">
									<label for="source-id-select">Database:</label>
									<select id="source-id-select" name="source_id">
									{% for id,name in compoundDbs.items|order_by:1 %}
										<option value="{{id}}" {% if defaultCompoundDb == id %}selected {% endif %} >{{name}}</option>
									{% endfor %}
									</select>
									<ul class="nav nav-tabs">
									  <li class="nav-item">
										<a class="nav-link active" href="#workbench" data-toggle="tab">Workbench</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" href="#compoundids" data-toggle="tab">Compound IDs</a>
									  </li>
									</ul>
									<div class='tab-content'>
										<div id="workbench" class='tab-pane active'>
											 <div class="card text-white bg-secondary my-3 p-2">
												<h6 class='card-title'>Import compound IDs from workbench</h6>
												<p><span id="compound_count">0</span> compounds selected.</p>
												<select id="tags" name="tags" multiple placeholder="Compound Tags">
													<option value="all">All</option>
													{% for tag in tags %}
														<option value="{{tag}}">{{tag}}</option>
													{% endfor %}
												</select>
											</div>

										</div>
										<div id="compoundids" class='tab-pane '>
											<div class="card text-white bg-secondary my-3 p-2">
												<h6 class='card-title' for="compound-ids">Enter compound IDs</h6>
												<p>Use the 'Compound Name Search' box to search for compounds by name, or
												enter compound ids into box below.</p>
												
												<select id="compound_autocomplete"  placeholder="Compound Name Search"> </select>
												<textarea id="compound-ids" name="ids" class="form-control" rows="10" placeholder="Enter space-separated ID(s)"></textarea>
											</div>

										</div>
									</div>
									<input type="hidden" name="id_type" value="compound">
									<button type="submit" class="btn btn-primary">Search</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="tab-pane{% if id_type == "target" %} active{% endif %}" id="target_search">
					<div class="container-fluid">
						<div class="col-md-12">
							<form method="GET">
								<div class="form-group mt-3">
									<input id="include-activity-chkbox" type="checkbox" name="include_activity">
									<label for="include-activity-chkbox">&nbsp;Include Activity Results (slow)</label>
									<p></p>
									<label for="source-id-select">Database:</label>
									<select id="source-id-select" name="source_id">
									{% for id,name in proteinDbs.items|order_by:1 %}
										<option value="{{id}}" {% if defaultProteinDb == id %}selected {% endif %} >{{name}}</option>
									{% endfor %}
									</select>
									<br/>

									<label for="target-ids">Target Protein IDs:</label>
									<textarea id="target-ids" name="ids" class="form-control" rows="10" placeholder="Enter space-separated ID(s)"></textarea>
									<br>
									<input type="hidden" name="id_type" value="target">
									<button type="submit" class="btn btn-primary">Search</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div><!-- end tab-content -->
		</div>
	</div><!-- end row (form tabs)-->

	{% if query_submit %}
		{% include "targetsearch/ts_table.html" with table_name="annotation" table_info=annotation_info table_data=annotation_matches %}
		{% if activity_matches is not None %}
			{% include "targetsearch/ts_table.html" with table_name="activity" table_info=activity_info table_data=activity_matches %}
		{% endif %}
	{% endif %}
</div><!-- end container-fluid -->

<!-- Drug Indication modal windows -->
{% for molregno, table in drugind_tables.items %}
{% dict_lookup molregno_to_chembl molregno as chembl_id %}
<div class="modal fade" id="drugIndModal_{{molregno}}" tabindex="-1" role="dialog" aria-labelledBy="drugInd_{{molregno}}_title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="drugIndModal_{{molregno}}_title">Drug Indications for {{chembl_id}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="drugIndDiv_{{molregno}}" class="modal-body">{{table}}</div>
		</div>
	</div>
</div>
{% endfor %}

<!-- Add-Compound-to-Workbench modal window -->
<div class="modal fade" id="workbenchModal" tabindex="-1" role="dialog" aria-labelledBy="wbmtitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="wbmtitle">Add Compounds to Workbench</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="wbmsummary"></div>
				<div>
					<form id="wbmform" autocomplete="off">
						{% csrf_token %}
						<input name="action" type="hidden" value="add" />
						<input name="source_id" type="hidden" value="chembl" />
						<input id="wbmids" name="ids" type="hidden" value="" />
						<label for="wbmtags">Tags</label>
						<select class="tags" id="wbmtags" name="tags" multiple placeholder="Compound Tags">
							{% for tag in tags %}
								<option value="{{tag}}">{{tag}}</option>
							{% endfor %}
						</select>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button id="wbmsubmitbtn" type="button" class="btn btn-primary" onclick="wbmSubmit()" disabled>Submit</button>
			</div>
		</div>
	</div>
</div>

{% endblock base_content %}

{% block js_content %}

{% include "selectize.html" %}
{% include "dataTables.html" %}
{% include "alertify.html" %}

<script type="text/javascript">
	var targetSearch = {};// namespace for public variables
	
	// Shows or hides all columns for a table
	function selectAllColumns(table_name, is_visible) {
		table_obj = targetSearch[table_name + '_table'];
		chkbox_class = 'chkbox-' + table_name;
		
		table_obj.columns().visible(is_visible);
		$('.' + chkbox_class).prop('checked', is_visible);
	}
	
	function selectDefaultColumns(table_name) {
		table_obj = targetSearch[table_name + '_table'];
		chkbox_class = 'chkbox-' + table_name;
		
		// Iterate through all checkboxes. If a checkbox is classed as a "default"
		// checkbox, check it and unhide the associated column. Otherwise, uncheck
		// it and hide the column.
		$('.' + chkbox_class).each(function() {
			v = $(this).hasClass(chkbox_class + '-default');
			// The second visible() arg "false" defers redrawing the DataTable
			table_obj.column( $(this).attr('value') ).visible(v, false);
			$(this).prop('checked', v);
		});
		// Now redraw the DataTable
		table_obj.columns.adjust().draw();
	}
	
	function setCompoundCount(tags) {
		if(tags != null && tags.length !== 0)
			$.get("/compounds/withTags/"+tags.join(",")+"/count").
				then(function(result){
					$("#compound_count").html(result);
				}).fail(function(){
					alertify.error("failed to update compound count");
				});
		else
			$("#compound_count").html(0);
	}
	
	function drugIndTable(molregno) {
		{% for key, data in drugind_tables.items %}
		if (molregno == '{{key}}') return '{{data|escapejs}}';
		{% endfor %}
	}
	
	function columnExportSelector(table_name, export_type, index) {
		table_obj = targetSearch[table_name + '_table'];
		nx_list = targetSearch[table_name + '_no_export'];
		
		if (nx_list.includes(index)) {
			return false;
		} else if (export_type == 'all') {
			return true;
		} else if (export_type == 'visible') {
			return table_obj.column(index).visible();
		} else {
			console.log("columnExportSelector: Check your values. You shouldn't see this.");
			return false;
		}
	}
	
	function toggleTableColumns(table_obj,setId, state) {
		$("#"+setId+" input").each(function(){
			table_obj.column( $(this).attr('value') ).visible(state, false);
			$(this).prop('checked', state);
		});
		table_obj.columns.adjust().draw();
		return false;
	}
	
	function showWorkbenchModal(table_name) {
		var table_obj = targetSearch[table_name + '_table'];
		var chembl_column = targetSearch[table_name + '_chembl_column'];
		var pref_name_column = targetSearch[table_name + '_pref_name_column'];
		var summary_str = '';
		var chembl_id_str = '';
		
		var rows = table_obj.rows( {selected:true} );
		if (rows.any()) {
			summary_str = '<p>The following compounds will be added to your workbench:</p>';
			summary_str += '<ul>';
			rows.every( function() {
				var chembl_text = $(table_obj.cell(this.index(), chembl_column).node()).text();
				var pref_name_text = $(table_obj.cell(this.index(), pref_name_column).node()).text();
				if (pref_name_text == 'None')
					summary_str += ('<li>' + chembl_text + '</li>');
				else
					summary_str += ('<li>' + chembl_text + ' (' + pref_name_text + ')</li>');
				chembl_id_str += (chembl_text + ' ');
			});
			summary_str += '</ul>';
			$('#wbmsubmitbtn').prop('disabled', false);
		} else {
			summary_str = '<p>No compounds are selected.</p>';
			summary_str += '<p>Select compounds by clicking on the table rows, or by using the &quot;Select Rows&quot; menu button.</p>';
			$('#wbmsubmitbtn').prop('disabled', true);
		}
		
		$('#wbmsummary').html(summary_str);
		$('#wbmids').prop('value', chembl_id_str);
		targetSearch.wbmtags.clear();
		$('#wbmsubmitbtn').html('Submit');
		$('#workbenchModal').modal();
		//console.log("wbmids:", $('#wbmids').prop('value'));
	}
	
	function wbmSubmit() {
		$('#wbmsubmitbtn').prop('disabled', true);
		$('#wbmsubmitbtn').html('Please Wait...');
		
		var post_data = $('#wbmform').serialize();
		jQuery.post("{% url 'myCompounds-ajax' %}", post_data, function (recv_data) {
			if (recv_data.success == true) {
				//console.log("compound upload success:", recv_data.message);
				alertify.success(recv_data.message);
			} else {
				if (recv_data.message) {
					//console.log("compound upload fail:", recv_data.message);
					alertify.error(recv_data.message);
				} else {
					//console.log("compound upload fail: unknown error");
					alertify.error("Unknown error occurred");
				}
			}
		}).fail( function() {
			//console.log("ajax fail...");
			alertify.error("AJAX call failed");
		}).always( function() {
			$('#workbenchModal').modal('hide');
		});
		//console.log("form data:", post_data);
	}
	
	function init_datatable(table_name) {
		return $('#' + table_name + '-table').DataTable({
			dom: 'frltip',
			rowGroup: { dataSrc: {{groupingCol}}, },
			columnDefs: {
				targets: 0,
				orderable: false,
			},
			buttons: [
				{
					extend: 'csv',
					filename: table_name + '-table',
					text: 'All Columns',
					exportOptions: {
						columns: function(index, data, node) {
							return columnExportSelector(table_name, 'all', index);
						}
					},
				},
				{
					extend: 'csv',
					filename: table_name + '-table',
					text: 'Visible Columns',
					exportOptions: {
						columns: function(index, data, node) {
							return columnExportSelector(table_name, 'visible', index);
						}
					},
				},
			],
			select: { style: 'multi' },
		});
	}
	
	$(document).ready(function() {
		jQuery("#tags").selectize({
			plugins: ['remove_button'],
			onChange: function(value){
				setCompoundCount(value);
			},
		});
		
		targetSearch.wbmtags = jQuery("#wbmtags").selectize({
			plugins: ['remove_button'],
			create: true,
		})[0].selectize;
		
		jQuery("#compound_autocomplete").selectize({
			valueField: "chembl_id",
			labelField: "name",
			searchField: ["name"],
			load: function(query,callback){
				jQuery.get("compoundNames/"+query).
					then(function(result){
						console.log("got back suggestions: ",result);
						callback(result);
					});
			},
			onChange:function(value){
		if(value == null || value === "")
			return;
		console.log("new compound selected: ",value);
		var compoundArea= jQuery("#compound-ids");
		compoundArea.val(compoundArea.val() + "\n"+value);
			},
		});
		
		var annotation_table = init_datatable('annotation');
		var activity_table = init_datatable('activity');
		
		{% for molregno in drugind_tables.keys %}
		{% dict_lookup molregno_to_chembl molregno as chembl_id %}
		var drugind_table_{{molregno}} = $('#drugIndDiv_{{molregno}}').find('table').DataTable({
			dom: 'Bfrltip',
			buttons: [
				{
					extend: 'csv',
					filename: 'drugind-table-{{chembl_id}}',
					text: 'Save to CSV (All Columns)',
				},
			],
		});
		{% endfor %}

		targetSearch.annotation_table = annotation_table;
		targetSearch.activity_table = activity_table;
		targetSearch.annotation_no_export = {% col_index_list annotation_info 'export' False %};
		targetSearch.activity_no_export = {% col_index_list activity_info 'export' False %};
		targetSearch.annotation_chembl_column = {% find_col_by_key annotation_info 'id' 'annotation__chembl_id_lookup__chembl_id' 'null' %};
		targetSearch.annotation_pref_name_column = {% find_col_by_key annotation_info 'id' 'annotation__molecule_dictionary__pref_name' 'null' %};
		targetSearch.activity_chembl_column = {% find_col_by_key activity_info 'id' 'activity__chembl_id_lookup__chembl_id' 'null' %};
		targetSearch.activity_pref_name_column = {% find_col_by_key activity_info 'id' 'activity__molecule_dictionary__pref_name' 'null' %};
		
		var annotation_table_buttons = annotation_table.buttons().container();
		annotation_table_buttons.removeClass('btn-group').addClass('btn-group-vertical');
		annotation_table_buttons.appendTo( $('#csv-buttons-annotation') );
		
		var activity_table_buttons = activity_table.buttons().container();
		activity_table_buttons.removeClass('btn-group').addClass('btn-group-vertical');
		activity_table_buttons.appendTo( $('#csv-buttons-activity') );
		
		$('input.toggle-vis').on('change', function(e) {
			if ( $(this).attr('name') == 'annotation-column' ) {
				var column = annotation_table.column( $(this).attr('value') );
			} else if ( $(this).attr('name') == 'activity-column' ) {
				var column = activity_table.column( $(this).attr('value') );
			}
			column.visible( $(this).prop('checked') );
		});
		
		selectDefaultColumns('annotation');
		selectDefaultColumns('activity');
	});
</script>

{% endblock js_content %}
