{% extends "base.html" %}
{% load cms_tags %}

{% block js_content %}

{% include "selectize.html" %}
{% include "dataTables.html" %}
{% include "alertify.html" %}

<style>
	.spaceAfter {
		margin-bottom: 10px;
	}
</style>

<script type="text/javascript">
	var table;

	alertify.dialog("selectTags",function(){},true,'prompt');


	$(document).ready(function() {
		$.ajaxSetup({
			headers: { "X-CSRFToken": '{{csrf_token}}' }
		});
		$('.fa-trash-alt').click(DeleteRow);
		$("[data-toggle=tooltip]").tooltip();

		$("#tags").selectize({
			plugins: ['remove_button'],
			create: true,
		});



		table = $('.table').DataTable({
			dom: '<"row-fluid spaceAfter" Bi>frltip',
			buttons: {
				buttons: ['selectAll',
                    {
                        text: "Select visible",
                        action: function ( e, dt, button, config ) {
                            dt.rows( { page: 'current' } ).select();
                        }
                    },
                    'selectNone',
					createTagAddRemoveButton("add"),
					createTagAddRemoveButton("remove"),
					createDeleteButton(),
				],
			},
			select: true,
			initComplete: function(){
				$('.table-body').show();
			},
			columnDefs: [
				{ 'visible': false, 'targets': 2 }
			],
		});
		//table.buttons().container().appendTo( $("#top_buttons"));

		new $.fn.dataTable.Buttons( table, { buttons: {} } );

		$("#loadstructures").click(function() {
			var structure_col = table.column(2);
			if (structure_col.visible()) {
				// Structures are shown, so hide them.
				structure_col.visible(false);
				$("#loadstructures").html('Show Structures');
			} else {
				// Structures are hidden, so show them.
				structure_col.visible(true);
				$("#loadstructures").html('Hide Structures');
			}
		});
        $("#tagDuplicates").click(function(){
            $.get("/compounds/tagDuplicates").
                then(function(results){
                    var row,rowData,rowTags;
                    console.log("tagDuplicates results: ",results);
                    $(".duplicate-help").show();
                    for(var id in results){
                        if(results.hasOwnProperty(id)){
                            //console.log("setting tag for ",id,results[id]);
                            //console.log("row data: "+ table.row("#"+id).data()[4]);
                            try{
                                row = table.row("#"+id);
                                rowData = row.data();

                                //create array with old and new tags
                                rowTags = rowData[4].split(/\s+|,/).concat(results[id]).
                                            filter(function(x){return x!== ""});
                                //console.log("all tags: ",rowTags);

                                //make sure we have a unique list of tags
                                rowData[4] = [... new Set(rowTags)].join(",");
                                row.data(rowData).draw();
                            }catch(error){
                                console.error("exception while setting duplicate tags: ",error);
                            }
                        }
                    }
                    //location.reload();
                }).
                fail(function(error){
                    alertify.error("failed to tag duplications");
                });
        });
        $("#selectDuplicates").click(function(){
            $(".duplicate-help").show();
            table.columns(4).search("duplicate-set-").draw();
        });
        $("#clearDuplicateSelection").click(function(){
            $(".duplicate-help").hide();
            table.columns(4).search("").draw();
        });

	}); // $(document).ready()

	function createDeleteButton(){
		return {
            extend:"selected",
			text: "Delete Selected",
			className:"btn-danger",
			action: function(event,dt,note,config){
				var selectedRows = dt.rows( { selected: true } );
				console.log("selected rows:",selectedRows);
				selectedIds =  Array.from(selectedRows.ids());
				console.log("ids to delete: ",selectedIds);
				if(selectedIds.length === 0){
					alertify.error("No compounds selected!");
				}else{
					alertify.confirm("Delete","Are you sure you wanted to delete "+selectedIds.length+
							" compound(s)?",
						function(){
							$.post( "/compounds/batch/delete/", {id: selectedIds}).
								then(function(){
									console.log("selected rows to delete:",selectedRows);
									selectedRows.remove().draw();
									alertify.success("Compounds deleted");
								}).fail(function(){
									alertify.error("Failed to delete selected compounds ");
								});
						},function(){});
				}
			}
		};
	}
	function createTagAddRemoveButton(action){
		var actionText = action === "add" ? "Add Tags" : "Remove Tags";

		return	{
            extend: "selected",
			text: actionText,
			action: function(event,dt,note,config){
				var selectedIds;
				var content = jQuery("#tag_input")[0];
				selectedIds =  Array.from(dt.rows( { selected: true } ).ids());
				jQuery("#tags")[0].selectize.clear();

				console.log("data: ",selectedIds);
				alertify.selectTags("").set({
					title: actionText,
					onok: function(){
						var tags,info;
						tags = jQuery("#tags")[0].selectize.items;
						info={ids: selectedIds, tags: tags};

						jQuery.ajax({
							url: "/compounds/tagCompounds/"+action+"/",
							type: "POST",
							contentType: "application/json",
							data: JSON.stringify(info),
						}).then(function(result){
							console.log("tagging succeeded",result);
							location.reload();
						}).fail(function(result){
							alertify.error("Failed to save compounds tags");
							console.log("saving compound tags failed. result: ",result);
						});
					},
				}).setContent(content);
			},
		};
	}

	function DeleteRow()
	{
		var self=this;
		var compound_id = $(self).parents('tr').first().attr("id");
		$.post( "/compounds/batch/delete/", {id: [compound_id]}).
			then(function(){
				$(self).parents('tr').first().remove();
			}).fail(function(){
				alertify.error("failed to delete compound "+compound_id);
			});
	}

</script>
{% endblock %}

{% block base_content %}
<div class="row">
<div class="col-md-12">
<h2>My Compounds</h2>
</div>
</div><!--/row-->
<div class="row">
	<div class="col-md-12">
		<div class="btn-group" id="top_buttons">
			<button id="loadstructures" class="btn btn-outline-primary">Show Structures</button>
			<a href="/myCompounds/downloadSDF.sdf" download="myCompounds.sdf"><button class="btn btn-outline-primary">Download SDF</button></a>
			<a href="/myCompounds/downloadSMILES.smi" download="myCompounds.smi"><button class="btn btn-outline-primary">Download Smiles</button></a>
		</div>
	</div>
</div><!--/row-->
<div class="row mt-2">
	<div class="col-md-12">
        Duplicate detection, based on Inchi strings<br>
		<div class="btn-group" id="top_buttons">
			<button id="tagDuplicates" class="btn btn-outline-secondary">Find Duplicates</button>
			<button id="selectDuplicates" class="btn btn-outline-secondary">Select Duplicates</button>
			<button id="clearDuplicateSelection" class="btn btn-outline-secondary">Clear Selection</button>
		</div>
        <div class="duplicate-help mt-3" style="display:none">
            <p>
           Each set of duplicate compounds are now tagged with a name like "duplicate-set-N", where "N" is
           incremented for each set of duplicates. In addition, for each group of duplicates, all but one memember
           of each group will have the tag "duplicate-extra" added. This tag then identifies the set of compounds 
           that could be removed if you wanted to remove all duplicates. 
           </p>
           <p>
           To see just the duplicate compound sets, click "Select Duplicates". To go back to viewing all compounds, click "Clear Selection".
           With the duplicates selected, you can then delete the extra compounds. If you're happy with which compounds are
           tagged as "duplicate-extra", then you can just put that tag name into the table search box, then click "Select Visible",
           and then "Delete Selected". You can also change which compounds are tagged with "duplicate-extra", or just 
           manually select and delete the compounds you want. 
           CAUTION: clicking "select all" will always select every compound, not just the duplicates or what you can see on the screen.
           </p>


        </div>
	</div>
</div><!--/row-->


<div class="row">


<div class="col-md-12">
<p>&nbsp;
{% if matches %}
	<table class="table table-sm" >
	<thead>
		<tr>
			<th>CID</th>
			<th>Name</th>
			<th>Structure</th>
			<th>Formula</th>
			<th>Tags</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody class="table-body" style="display:none">
	{% for compound in matches %}
		<tr id="{{compound.id}}">
			<td><a href="{% url 'compound_detail' compound.id %}">{{compound.cid}}</a></td>
			<td>{{compound.name}}</td>
			<td id="{{compound.id}}">
				<button type="button" class="btn" onclick="showCsiModal('{{compound.cid}}', '{% url 'render_svg' compound.id %}')" data-toggle="tooltip" title="Enlarge compound structure image">
					<img width="150" src="{% url 'render_svg' compound.id %}" />
				</button>
			</td>
			<td>{{compound.formula}}</td>
			<td>{%for tag in compound.tags.all %}
				{{tag.name}},
					{% endfor %}
			</td>
			<td>
			<a href="/eisearch/query/?smi={{compound.smiles}}" class="searchRowButton" data-toggle="tooltip" placement="top" title="Search similar compounds"><i class="fas fa-search"></i></a>
			<a href="{% url 'compound_detail' compound.id 'editform' %}" class="editRowButton" data-toggle="tooltip" placement="top" title="Edit compound details"><i class="fas fa-pen"></i></a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% else %}
<p>No compounds uploaded.</p>
{% endif %}
</div>


</div><!--/row-->
<div class="row">
	<div class="col-md-12">
		<div style="display:none">
			<div id="tag_input" >
				<label class="control-label" for="tags">Compound Tags:</label>
				<select id="tags" name="tags" multiple placeholder="Compound Tags" style="display:none">
					{% for tag in tags %}
						<option value="{{tag}}">{{tag}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
</div><!--/row-->

{% include "compounddb/compound_img_modal.html" %}
{% endblock %}
