{% extends "base.html" %}
{% load cms_tags %}

{% block js_content %}
<script type="text/javascript">
	$(document).ready(function() {
		$("[data-toggle=tooltip]").tooltip();
	});
</script>
{% endblock %}

{% block base_content %}
<div class="row-fluid"> 
<div class="span12">
<h2>Compound '{{compound.cid}}'</h2>
</div>
</div><!--/row--> 

<div class="row-fluid">


<div class="span7">
	<img class="img-rounded" src="/compounds/{{compound.id}}/png"/>
</div>

<div class="span5">
	<table class="table table-striped">
	<tbody>
	<tr class="cid"><th>CID</th><td>{{compound.cid}}<a href="/compounds/{{compound.id}}/editform" class="editRowButton" data-toggle="tooltip" placement="top" title="edit"><i class="icon-pencil"></i></a></td></tr>
	<tr class="name"><th>Name</th><td>{{compound.name}}<a href="/compounds/{{compound.id}}/editform" class="editRowButton" data-toggle="tooltip" placement="p" title="edit"><i class="icon-pencil"></i></td></tr>
	<tr class="formula"><th>Formula</th><td>{{compound.formula}}</td></tr>
	<tr class="weight"><th>Molecular Weight</th><td>{{compound.weight|floatformat:3}}</td></tr>
	</tbody>
	</table>
</div><!--/span-->
</div><!--/row-->

<div class="row-fluid">

<div class="span7">
	<ul class="nav nav-tabs" id="myTab">
	  <li class="active"><a href="#smiles" data-toggle="tab">SMILES</a></li>
	  <li><a href="#sdf" data-toggle="tab">SDF</a></li>
	  <li><a href="#inchi" data-toggle="tab">InChI</a></li>
	</ul>
	 
	<div class="tab-content">
	  <div class="tab-pane active" id="smiles"><textarea class="field span12" rows="6" readonly="readonly">{{smiles}}</textarea></div>
	  <div class="tab-pane" id="sdf"><textarea class="field span12" rows="24" readonly="readonly">{{sdf}}</textarea></div>
	  <div class="tab-pane" id="inchi"><textarea class="field span12" rows="6" readonly="readonly">{{inchi}}i</textarea></div>
	</div>
	 
</div><!--/span-->

<div class="span5">
<h2>Downloads</h2>
<p><a class="btn" href="/compounds/{{compound.id}}/smiles/{{compound.id}}.smi">SMILES »</a></p>
<p><a class="btn" href="/compounds/{{compound.id}}/sdf/{{compound.id}}.sdf">SDF »</a></p>
<p><a class="btn" href="/compounds/{{compound.id}}/inchi/{{compound.id}}.inchi">InChI »</a></p>
<p><a class="btn" href="/compounds/{{compound.id}}/png/{{compound.id}}.png">PNG (image) »</a></p>
</div><!--/span-->

</div><!--/row-->
{% endblock %}
