<!DOCTYPE html>
{% load bootstrap4 %}
{% load cms_tags sekizai_tags %}
{% load menu_tags %}
{% load targetsearch_extras %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ChemMine Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/admin/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
    <style>
      .cmtools-nav-header {
        padding: .5rem 1rem;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
      }

      img {
        max-width: 100%;
      }

      h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
      }

      .cmtools-display-none {
        display: none;
      }
      {% block extra_styles %}{% endblock %}
    </style>

    {% render_block "css" %}

    <script src="/static/admin/jquery-3.4.1.min.js"></script>
    {% block extra_headers %}{% endblock %}

  </head>

  <body>
    {% cms_toolbar %}
    <header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/" style="color:red">ChemMine Tools</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% show_menu 0 100 0 1 %}
        </ul>
        <p class="navbar-text my-2 my-lg-0">
          {% if user.email %}
            Logged in as <a href="/accounts/{{ user.username }}/">{{ user.email }}</a> | <a href="/accounts/signout/">Logout</a>
          {% else %}
            Optional: <a href="/accounts/signin/">Login</a> or <a href="/accounts/signup/">register</a> to save data.
          {% endif %}
        </p>
      </div>
    </header>

    <div class="container-fluid" style="padding-top: 1em;">
      <div class="row">
        <div class="col-md-3">
          <div class="card bg-light">
            <div class="card-body">
              <ul class="nav flex-column">
                <li class="cmtools-nav-header">Workbench</li>
                <li class="nav-link"><a href="/myCompounds/">My Compounds</a></li>
                <li class="nav-link"><a href="/myCompounds/addCompounds/">Add Compounds</a></li>

                <li class="cmtools-nav-header">Tools</li>
                <li class="nav-link"><a href="/tools/list_jobs/">Past Jobs</a></li>
                <li class="nav-link"><a href="/tools/launch_job/Upload/">Upload Numeric Data</a></li>
                <li class="nav-link"><a href="/tools/launch_job/Clustering/">Cluster</a></li>
                <li class="nav-link"><a href="/tools/launch_job/Properties/">Physicochemical Properties</a></li>
                <li class="nav-link"><a href="/similarity/">Similarity Workbench</a></li>
                <li class="nav-link"><a href="/targetsearch/">Drug-Target Search</a></li>

                <li class="cmtools-nav-header">Search</li>
                <li class="nav-link"><a href="/eisearch/query/">Structural Similarity Search</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-9">

{% bootstrap_messages %}

<div style="float: right">
    <span id="compound_stats"></span>
</div>
{% placeholder base_content %}
{% block base_content %}{% endblock %}
{% placeholder content %}
{% block content %}{% endblock %}
        </div><!--/col-md-9-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Tyler Backman, Yiqun Cao, and Thomas Girke</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% render_block "js" %}
    <!-- Moved jQuery to top of page to allow early jQuery usage -->
    <script src="/static/admin/popper-1.15.0.min.js"></script>
    <script src="/static/admin/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    {% block js_content %}{% endblock %}
<script type="text/javascript">
	$(document).ready(function() {
		$(".alert").alert()
        jQuery.get("/compounds/withTags/all/count/").
            then(function(result){
                if(result != null){
                    jQuery("#compound_stats").html(result+" compound(s) in workbench");
                }
            });
	});
</script>

{% analytics as analytics %}
{% if analytics %}
<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-39997428-1', 'ucr.edu');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
{% else %}
<!-- Google Analytics disabled in settings.py. Set ANALYTICS to True or remove
     the setting to enable GA. -->
{% endif %}

</body>
</html>
