{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
<div class="row-fluid">
<div class="span12">

<div style="display:none">
<form id="webtools_form" action="/myCompounds/addCompounds/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<label for="smiles">Enter smiles entry:</label><br />
<textarea rows="10" cols="80" id="smiles" name="smiles"></textarea><br />
<input type="submit" value="Submit" />
</form>
</div>

<h1><span id="action">Loading</span> <img src="/static/images/spinner.gif"/ id="wait"> </h1>
<a style="display:none" href="#" id="url"></a>
</div>
</div><!--/row-->
{% endblock %}

{% block js_content %}
<script type="text/javascript">
var frag = '';
$(document).ready(function(){
	here = window.location.href;
	if (here.indexOf('#') != -1)
		frag = here.substring(here.indexOf('#') + 1);
});
</script>

<script type="text/javascript">
function add_to_webtools(c)
{
	/* swap id and SMILES */
	buf = '';
	lines = c.replace('\r', '').split('\n');
	for (i in lines) {
		pos_tab = lines[i].indexOf('\t');
		pos_space = lines[i].indexOf(' ');
		if (pos_tab != -1) split_point = pos_tab;
		else if (pos_space != -1) split_point = pos_space;
		else split_point = -1;
		if (split_point != -1) {
			left = lines[i].substring(0, split_point);
			right = lines[i].substring(split_point + 1);
		}
		if (split_point != -1 && !isNaN(parseInt(left)))  {
			buf = buf + right + '\t' + left + '\n';
		} else
			buf = buf + lines[i] + '\n';
	}
		
	$('#smiles').get(0).value = buf;
	$('#webtools_form').get(0).submit();
}

function read()
{
	$.getJSON("{% url ajaxread sid %}", function(data) {
	if (data.status == 'wait')
		window.setTimeout(read, 1000);
	else if (data.status == 'ok') {
		if (frag == 'webtools') {
			$("#action").text("Loaded. Now Adding");
			add_to_webtools(data.content);
		} else {
			$("h1").text("Download from PubChem");
			$("img#wait").hide();
			$('a#url').text(data.content).attr('href', data.content).show();
		}
	} else
		alert(data.status);
	});
}

$(document).ready(function() {
	read();
});
</script>
{% endblock %}
