{% extends "base.html" %}
{% load cms_tags %}


{% block js_content %}
<!--selectize -->
<link rel="stylesheet" href="/static/admin/selectize/css/selectize.bootstrap2.css" type="text/css">
<script type="text/javascript" src="/static/admin/selectize/js/standalone/selectize.min.js"></script>

<!-- AlertifyJS -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.min.css"/>
<!--<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/bootstrap.min.css"/>-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/default.min.css"/>



<script type="text/javascript">

	$(document).ready(function() {
		$("#id_application").change(function () {
			getDynamicForm();
		});
		jQuery("#tags").selectize({
				plugins: ['remove_button'],
				items: ["all"],
				onChange: function(value){
					setCompoundCount(value);
				},
			});
		setCompoundCount(["all"]);

	});
	function setCompoundCount(tags){
		if(tags != null && tags != [])
			$.get("/compounds/withTags/"+tags.join(",")+"/count").
				then(function(result){
					$("#compound_count").html(result);
				}).fail(function(){
					alertify.error("failed to update compound count");
				});
		else
			$("#compound_count").html(0);
	}
	
	function getDynamicForm() {
		selectedApp = document.getElementById("id_application")[document.getElementById("id_application").selectedIndex].value;
		$.ajax({
		    type: 'GET',
		    url: '.',
		    dataType: 'json',
		    success: function(data) {form = data.form, desc=data.desc},
		    data: { currentApp: selectedApp },
		    async: false
		});
		if(form == "ERROR"){
			$("#hiddenOptions").hide();
			$('#description').html('');
		} else {
			$('#formContent').html(form);	
			$('#description').html(desc);
			$("#hiddenOptions").show();
		}
	}	
</script>
{% endblock %}

{% block base_content %}
<div class="row-fluid">
	<div class="span12">
		<h2>{{ title|default:"Input Form" }}</h2>
	</div>
</div><!--/row-->

<div class="row-fluid">
	<div class="span12">
		{% if fromWorkbench %}
		<p>Select a tool to process the selected compounds from your workbench.</p>
		{% endif %}	
		<form action="." method="post">{% csrf_token %}
		{{ form.as_p }}
		</form>
	</div>
</div><!--/row-->	

<div class="row-fluid">
</div><!--/row-->

<div class="row-fluid">
	<div class="span12" style="display:none" id="hiddenOptions">
		<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
			{% if fromWorkbench %}
			<p>Select which set of compounds you want to operate on.
			Only compounds with all selected tags will be used.</p>

			<span id="compound_count">-</span> compounds selected.
			<select id="tags" name="tags" multiple placeholder="Compound Tags">
				<option value="all">All</option>
				{% for tag in tags %}
					<option value="{{tag}}">{{tag}}</option>
				{% endfor %}
			</select>
			<p>&nbsp;
			{% endif %}

			<div  id="description"></div>
			<p>&nbsp;

			<div id="formContent"> </div>

			<input class="btn btn-primary" type="submit" value="Submit"/>
		</form>
	</div>
</div><!--/row-->

{% endblock %}
