{% extends "base.html" %}
{% load cms_tags %}

{% block extra_headers %}
<link rel="stylesheet" type="text/css" href="/static/admin/dt_bootstrap/dataTables.bootstrap.css">
{% endblock %}

{% block js_content %}
<script type="text/javascript" src="/static/admin/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/admin/dt_bootstrap/dataTables.bootstrap.js"></script>
<script src="/static/admin/cidpopups.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#example').dataTable( {
		"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"sScrollX": "100%",
		"bScrollCollapse": true
         } );
} );
</script>

{% endblock %}

{% block base_content %}
<div class="row-fluid">
	<div class="span12">
		<h2>{{ title|default:"Job Result" }}</h2>
	</div>
</div><!--/row-->

{% if job %}
<div class="row-fluid">
	<div class="span12">
	<table class="table table-bordered table-hover">
	<tbody>
	<tr>
		<th>Job Start Time</th>
		<td>{{ job.start_time }}</td>
	</tr>
	<tr>
		<th>Options</th>
		<td>{{ job.options }}</td>
	</tr>
	<tr>
		<th>Results</th>
		<td><a class="btn" href="download/table{{job.id}}.csv">Download CSV »</a></td>
	</tr>
	<tr>
		<th>Next Steps</th>
		<td>To plot a heatmap of these data, start a <a href="/tools/launch_job/Clustering/">clustering job</a> and select this job as input.</td>
	</tr>
	</tbody>
	</table>
	</div>
</div><!--/row-->
{% endif %}

<div class="row-fluid">
	<div class="span12">

	{% if csv %}
	<table class="table table-condensed table-striped table-bordered span12" id="example">
	{% for row in csv %}
		{% if forloop.first %}
			<thead>
			{% for cell in row %}
				<th>{{cell}}</th>
			{% endfor %}
			</thead><tbody>
		{% else %}
			<tr>
			{% for cell in row %}
				<td>{% if forloop.first %}<a data-container="body" data-toggle="popover" data-placement="top" title="{{cell}}" data-content="" class="cidLink">{{cell}}</a>{% else %}{{cell}}{% endif %}</td>
			{% endfor %}
			</tr>
			{% if forloop.last %}
				</tbody>
			{% endif %}
		{% endif %}
	{% endfor %}
	</table>
	{% else %}
	<p>No Results.</p>
	{% endif %}
	</div>
</div><!--/row-->


{% endblock %}
