{% extends "base.html" %}
{% load cms_tags %}

{% block js_content %}
<script type="text/javascript">
function update_timer() {
	$.ajax({
	    type: 'GET',
	    url: '.',
	    dataType: 'json',
	    success: function(data) {status = data.status, desc=data.desc},
	    data: { },
	    async: false
	});
	if(status == "DONE"){
		window.location.reload();
	} else {
		setTimeout('update_timer()', 5000);
	}
}

jQuery(document).ready(function() {
	setTimeout('update_timer()', 5000);
});
</script>

{% endblock %}

{% block base_content %}
<div class="row-fluid">
	<div class="span12">
		{% autoescape off %}<h2>{{ title|default:"Job Result" }}</h2>{% endautoescape %}
	</div>
</div><!--/row-->

<div class="row-fluid">
	<div class="span12">
		This page will automatically reload when the job is finished.
		<br/><br/>
		If you would like to browse away from this page, you can access your results later from the 'Past Jobs' link located in the left navigation menu.
	</div>
</div><!--/row-->
{% endblock %}
