{% extends "base.html" %}
{% load cms_tags %}

{% block js_content %}
<script type="text/javascript">
function update_timer() {
	var t = parseInt(jQuery("#timer").text()) - 1;
	if (t == 0) {
		jQuery("#timer").text("now");
		jQuery("#in").text("");
		jQuery("#seconds").text("");
		window.location.reload();
	} else {
		jQuery("#timer").text(t);
		setTimeout('update_timer()', 1000);
	}
}

jQuery(document).ready(function() {
	setTimeout('update_timer()', 1000);
});
</script>

{% endblock %}

{% block base_content %}
<div class="row-fluid">
	<div class="span12">
		<h2>{{ title|default:"Job Result" }}</h2>
	</div>
</div><!--/row-->

<div class="row-fluid">
	<div class="span12">
		Results not finished<br />
		status: running<br />
		This page will be automatically refreshed <span id="in">in</span> <span id="timer">10</span><span id="seconds"> seconds</span>.
		<br /><br />
		Please bookmark this page if you would like to browse away from the page, and check 
		your results later.
	</div>
</div><!--/row-->
{% endblock %}
